* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.cont {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.container {
	min-height: 400px;
	width: 100%;
	height: 100%;
}

.landing {
	background-color: rgba(33,120,68,1);
}

.study-details {
	background-color: rgba(147,31,31,1);
}

.skills {
	background-color: rgba(0,143,179,1);
}

.left {
	width: 50%;
	height: 100%;
	display: inline-block;
}

.right {
	width: 50%;
	height: 100%;
	display: inline-block;
}

.image {
	padding-top: 50px;
	text-align: center;
	vertical-align: top;
}

.image svg {
	height: 90%;
	width: 100%;
}

#rect937 {
	transition: all 0.2s;
}

#rect939 {
	transition: all 0.5s;
}