@media(max-width: 768px){
	body {
		font-size: 12px;
	}

	.cont {
		height: auto;
	}

	.image-cont {
		width: 100%;
		margin: 0px;
		position: static;
		padding: 30px 0px;
	}

	.image-cont svg {
		height: 300px;
	}

	.a-detail-image {
		text-align: left;
	}

	.a-detail {
		padding: 10px;
	}

	.landing {
		min-height: 100%;
		padding-bottom: 30px;
	}

	.landing-text-content {
		transform: none;
		width: 100%
	}

	.scrollDown {
		display: none;
	}

	.study-text-content {
		width: 100%;
		padding: 20px;
	}

	.skills-text-content {
		width: 100%;
	}

	.projects-text-content {
		width: 100%;
		padding: 20px;
	}

	.contact-text-content {
		width: 100%;
		padding: 40px 20px;
	}

	.skill-box-outer {
		width: 70%;
	}
}