@font-face {
	font-family: champagne;
	src: url('../fonts/Champagne & Limousines Bold.ttf');
}

* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.preloader {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(0,115,153,1);
	z-index: 1000;
	text-align: center;
}

.preloader.loaded {
	display: none;
}

.svg-cont {
	border-radius: 150px;
	display: inline-block;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;
	padding: 10px 0px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	animation-name: svg-cont;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	position: relative;
}

@keyframes svg-cont {
	from {
		width: 0px;
		height: 0px;
		top: 100px;
	}

	to {
		width: 200px;
		height: 200px;
		top: 0px;
	}
}

.svg-cont svg {
	width: 200px;
	height: auto;
	position: relative;
	top: 200px;
	animation-name: svg-cont-svg;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

@keyframes svg-cont-svg {
	from {
		top: 200px;
	}

	to {
		top: 0px;
	}
}

.loader {
	position: relative;
	top: 50px;
	opacity: 0;
	margin-top: 20px;
	animation-duration: 0.3s;
	animation-name: loader;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes loader{
	from {
		top: 50px;
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1;
	}
}

.loader svg {
	width: 30px;
	height: auto;
	animation-name: loader-animate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes loader-animate {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.image-cont {
	position: absolute;
	top: 100%;
	width: 50%;
	height: 100%;
	z-index: 1;
	padding: 50px 0px;
	text-align: center;
}

.image-cont svg {
	height: 100%;
	width: 80%;
}

.cont {
	min-height: 400px;
}

#rect937 {
	transition: all 0.2s;
}

#rect939 {
	transition: all 0.5s;
}

.header {
	font-size: 2.5em;
	font-family: champagne;
	color: white;
	text-align: center;
	margin-bottom: 30px;
	/*border-top: 2px solid rgba(255,255,255,0.4);
	border-bottom: 2px solid rgba(255,255,255,0.4);*/
}

.a-detail {
	padding: 20px;
	font-family: champagne;
	position: relative;
}

.a-detail .a-detail-icon {
	width: 20%;
	text-align: center;
	display: inline-block;
	font-size: 2em;
	color: white;
	position: absolute;
	top: 20px;
}

.a-detail .a-detail-cont {
	width: 100%;
	padding-left: 20%;
}

.a-detail .a-detail-title {
	font-size: 1.4em;
	color: white;
}

.a-detail .a-detail-big {
	font-size: 1em;
	margin-top: 10px;
	color: rgba(255,255,255,0.8);
}

.a-detail .a-detail-big a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

.a-detail .a-detail-small a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

.a-detail .a-detail-small {
	font-size: 1em;
	margin-top: 5px;
	color: rgba(255,255,255,0.8);
}

/* * * * * * * * * * * * *
 *      LANDING PAGE     *
 * * * * * * * * * * * * */

.landing {
	background-color: rgba(33,120,68,1);
	height: 100%;
	padding: 0px;
}

.landing .image-cont {
	right: 0px;
}

.landing-text-content {
	font-family: champagne;
	transform: translateY(70%);
	display: inline-block;
	padding: 0px 30px;
	width: 50%;
	text-align: center;
}

.landing-text-content .centered {
	display: inline-block;
	text-align: left;
}

.landing-text-content .salutation {
	font-size: 2.5em;
	color: rgba(255,255,255,1);
	text-align: left;
	margin-bottom: 5px;
}

.landing-text-content .name {
	font-size: 4.5em;
	color: rgba(255,255,255,1);
	text-align: left;
	margin: 5px 0px;
}

.landing-text-content .whatiam {
	font-size: 1.8em;
	color: rgba(255,255,255,0.8);
	text-align: left;
	margin: 5px 0px;
}

.scrollDown {
	color: rgba(33,120,68,1);
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	font-size: 1.5em;
	line-height: 40px;
	cursor: pointer;
	position: absolute;
	bottom: 10%;
	left: calc(25% - 20px);
}

/* * * * * * * * * * * * *
 *    EDUCATION PAGE     *
 * * * * * * * * * * * * */

.study-details {
	background-color: rgba(147,31,31,1);
}

.study-details {
	min-height: 100%;
}

.study-text-content {
	width: 100%;
	padding: 40px;
	padding-left: 50%;
}

/* * * * * * * * * * * * *
 *      SKILLA PAGE      *
 * * * * * * * * * * * * */

.skills {
	background-color: rgba(0,102,128,1);
	min-height: 100%;
}

.skills .image-cont {
	right: 0px;
}

.skills-text-content {
	font-family: champagne;
	display: inline-block;
	padding: 40px;
	width: 50%;
}

.skills-sub {
	text-align: left;
}

.skills-title {
	color: rgba(255,255,255,1);
	font-size: 1.4em;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 2px solid rgba(255,255,255,0.6);
}

.skills-list {
	padding: 20px;
}

.a-skill {
	padding: 5px 0px;
}

.skill-name {
	color: white;
	font-size: 1.2em;
	width: 40%;
	display: inline-block;
	padding: 0px 10px;
	text-align: right;
}

.skill-rating {
	padding: 0px 4% 0px 5%;
	width: 59%;
	display: inline-block;
}

.skill-box-outer {
	width: 60%;
	background-color: rgba(255,255,255,0.8);
	height: 20px;
	padding: 2px;
}

.skill-box-inner {
	width: 70%;
	background-color: rgba(0, 82, 102, 1);
	height: 16px;
}


/* * * * * * * * * * * * *
 *      PROJECTS PAGE     *
 * * * * * * * * * * * * */

.projects {
	background-color: rgba(108,83,103,1);
	min-height: 100%;
}

.projects-text-content {
	font-family: champagne;
	display: inline-block;
	padding: 40px;
	width: 100%;
	padding-left: 50%;
}

.experience-list {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 2px solid rgba(255,255,255,0.5);
}

.a-detail-image {
	text-align: center;
	padding: 15px 0px;
}

.a-detail-image img {
	width: 90%;
	border: 2px solid rgba(255,255,255,0.5);
}

.tech {
	color: white;
}

/* * * * * * * * * * * * *
 *     CONTACTS PAGE     *
 * * * * * * * * * * * * */

.contact {
	min-height: 100%;
	background-color: rgba(140,161,166,1);
}

.contact .image-cont {
	right: 0px;
}

.contact-text-content {
	font-family: champagne;
	display: inline-block;
	padding: 40px;
	width: 50%;
	text-align: center;
}

.contact-list {
	margin-bottom: 30px;
	color: white;
	font-size: 1.2em;
	display: inline-block;
	text-align: left;
}

.contact-list i {
	margin-right: 20px;
}

.a-contact {
	padding: 10px 0px;
}

.a-contact a {
	color: white;
	text-decoration: none;
}

.a-contact a:hover {
	text-decoration: underline;
}

.resume {
	background: none;
	padding: 10px 20px;
	border: 2px solid white;
	font-family: champagne;
	font-size: 1.2em;
	cursor: pointer;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.resume-text {
	position: relative;
	z-index: 1;
	color: white;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.resume-background {
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	z-index: 0;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
}

.resume:hover .resume-background {
	width: 100%;
}

.resume:hover .resume-text {
	color: rgba(140,161,166,1);
}

.footer {
	padding: 20px;
	text-align: center;
	background-color: rgba(55,69,73,1);
	color: white;
	font-family: champagne;
	font-size: 1em;
}

.footer i {
	margin: 0px 5px;
	color: rgba(204,0,0,1);
}